## Install all Libraries

Install mysql database in linux by using terminal

sudo apt install mysql-server
install mysql python connector to connect daabase
pip install mysql-connector-python

## Setup database using brew -mac os

brew install mysql

brew services start mysql

mysql_secure_installation

mysql -u root -p

## Create user

mysql> CREATE USER 'ashish'@'localhost' IDENTIFIED BY 'my-strong-password-here';

## Grant all permision

GRANT ALL PRIVILEGES ON * . * TO 'ashish'@'localhost';

## Python code to connect

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="ashish",
  password="ashish@123"
  database='storemviedata'
)

print(mydb)

# Create table

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
Show tables in DB

# Show tables in DB

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

# Insert data to table customers

In [ ]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

## Code to insert data in database

In [ ]:
class Database:
    """ Class to work with database , Store data in database"""

    def __init__(self, host, username, password, database):

        self.host = host
        self.username = username
        self.password = password
        self.database = database
        
        self.connection_object = connector.connect(host=self.host,
                                                   username=self.username,
                                                   password=self.password,
                                                   database=self.database,
                                                   )

    def create_table(self, ):

        try:
            cur = self.connection_object.cursor()

            # create table if NOT exist

            cur.execute(
                "create table if not exists Movie_table(MovieName varchar(200) not null, DaysfromRelease varchar(20) not null, Date varchar(30) not null, BoxOfficeCollection varchar(20) not null)")

        except Exception as e:

            print("Error in creating table", str(e))
            self.connection_object.rollback()

    def insert_data(self, movie_name_insert, day_insert, converted_day_insert, collection_insert):
        
        # insert data to table

        cur = self.connection_object.cursor()
        try:
            sql = "insert into Movie_table(MovieName, DaysfromRelease, Date, BoxOfficeCollection) values (%s, %s, %s, %s)"

            # The row values are provided in the form of tuple
            val = (movie_name_insert, day_insert, converted_day_insert, collection_insert)

            # inserting the values into the table
            cur.execute(sql, val)

            # commit the transaction
            self.connection_object.commit()
            # print("Record Inserted")

        except Exception as e:

            print("Error in inserting record", str(e))
            self.connection_object.rollback()
    
    def show_table_data(self):

        try:
            cur = self.connection_object.cursor()
            cur.execute("select * from Movie_table")
            # fetching the rows from the cursor object
            result = cur.fetchall()
            # printing the result

            print("Fetching all data from table")

            for data_fetch in result:
                print(data_fetch)

        except Exception as e:
            print("Error while fetching data", str(e))
            self.connection_object.rollback()

        # close all now
        self.connection_object.close()