# Notes Python

About PYTHON
* GENERAL PURPOSE 
* SCRIPTING
* DYNAMICALLY TYPEd
* OBJECT ORIENTED
* FUNCTIONAL pROGRAMING LANGUAGE

# Mutalbe Unmutable datatypes

*  (int, float, bool, str, tuple, unicode) are immutable. Objects of built-in types like (list, set, dict) are mutable

# How is memory managed in Python?


* Memory management in python is managed by Python private heap space.
All Python objects and data structures are located in a private heap.
The programmer does not have access to this private heap. The python interpreter takes care of this instead. 
• The allocation of heap space for Python objects is done by Python's memory manager.
The core API gives access to some tools for the programmer to code. 
• Python also has an inbuilt garbage collector, which recycles all the unused memory and so that it can be made available to the heap space.

# Python Compilation

Python code compilation :

* Source_code -> Compiler which convert code Bytecode /binary code Not to machine code-> -- python Virtual machine (in this interpreter is available interpreter (Just in time compiler ) ) -> convert bytecode to machine code -> send to operating system

* in this just-in-time compiler ( improved version of interpreter) because normal interpreter converts code and send it to the operating system and wait till execution is completed but in this, it doesn't wait it converts one by one and stores other data for os

# Class and Object

* Instance object and class object :- class object is created when you write class and when you create the class object that means the instance object is created and init method is called and reference of instance object is passed in class in self keyword

# Pass By value / reference

* Python support neither “Pass by Value” nor “Pass by Reference” but it is “Pass by Object Reference”.

# Overloading in Python

* Python doesnot support function overloading and also Multiple Inheritance

# generator in python

* There is a lot of work in building an iterator in Python. We have to implement a class with __iter__() and __next__() method, keep track of internal states, and raise StopIteration when there are no values to be returned.
* Simply speaking, a generator is a function that returns an object (iterator) which we can iterate over (one value at a time).

In [2]:
def gen():
    for i in range(20):
        yield i
generator=gen()
next(generator)

# generator comp
i=(i for i in range(20))
next(i)

0

# Iterable iterator

* iterable are those in which  __getitem or __iter is defined

# Doc String Python

In [3]:
def function():
  " this is testing of doc string function"
  return None

# get string comment python
output=function.__doc__
print(output)

 this is testing of doc string function

# Lambda Function

In [4]:
# factorial in one line
f=lambda n: 1 if n==0 else n*f(n-1)
print(f(5))

#method 1
(lambda a,b: a+b)(1,2)

# method 2
ss= lambda a,b: a+b
ss(1,2)

# sorting on the basis of first index
lis=["ashish","Manish","himanshu"]
lis.sort(key=lambda x:x[1])
lis

120

['Manish', 'himanshu', 'ashish']

# MONKEY PATCHING PYTHON

In [ ]:
class monkey:

    def __init__(self,):
        pass

    def get_data(self,):
        print("getting data in Class function")
    
    def call_function(self):
        print("call function called")
        self.get_data()

def monkey_patching(self):
    print(" Monkey _patching !! outside function call in this place ** ")

obj=monkey()
monkey.get_data=monkey_patching
obj.call_function()

call function called
 Monkey _patching !! outside function call in this place **

# Name Mingling

In [5]:
class Item:
    _x=1
    __y=2

print(Item._x) # it will give value of _x
 # but if we try to get _ _Y then is give us error because of name mingling
 # so in this case
Item._Item__y # in __ python automatically change its variable name

1

2

# Methods to create Static members in class

In [ ]:
class item:
    a=5

    def __init__(self):
        self.x=10 # instance variable
        y=4 # local variable
        Item.b=6 # static variable
    def f1(self):
        item.c=7 # static
    @staticmethod
    def f2():
        item.d=8 # static
    @classmethod
    def f3(cls):
        cls.e=9 # static
        item.f=10 # static

item.g=11 # static variable

# Multi Threading

In [ ]:
import time
import threading

def calx_square(numbers):
    print("calculate square")
    for n in numbers:
        time.sleep(0.2)
        print("square",n*n)
            
def calc_cube(numbers):
    print("calculate the cube")
    for n in numbers:
        time.sleep(0.2)
        print("CUBE",n*n*n)
        
arr=[2,3,8,9]
t=time.time()
t1=threading.Thread(target=calx_square,args=(arr,))
t2=threading.Thread(target=calc_cube,args=(arr,))
t1.start()
t2.start()

## Numpy

#### Returns: 24 because 1*2*3*4 = 24

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4])

x = np.prod(arr)

print(x)

24

#### Returns: 40320 because 1*2*3*4*5*6*7*8 = 40320

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])

x = np.prod([arr1, arr2])

print(x)

40320

#### Returns: [24 1680]

In [6]:
import numpy as np
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([5, 6, 7, 8])
newarr = np.prod([arr1, arr2], axis=1)
print(newarr)

[  24 1680]

#### Returns: [5 30 210 1680]

In [7]:
import numpy as np
arr = np.array([5, 6, 7, 8])
newarr = np.cumprod(arr)
print(newarr)

[   5   30  210 1680]

#### Returns: [5 10 -20] because 15-10=5, 25-15=10, and 5-25=-20

In [8]:
import numpy as np
arr = np.array([10, 15, 25, 5])
newarr = np.diff(arr)
print(newarr)

[  5  10 -20]

#### Returns: [5 -30] because: 15-10=5, 25-15=10, and 5-25=-20 AND 10-5=5 and -20-10=-30

In [9]:
arr = np.array([10, 15, 25, 5])
newarr = np.diff(arr, n=2)
print(newarr)

[  5 -30]

# Calculating time taken

In [ ]:
import time
start = time.process_time()
time_taken= int(time.process_time() - start)
print(time_taken)

0

# Get Size

In [ ]:
from sys import *
getsizeof([2,5,77,45,5])
# bytes

104

# Decorators in  python

In [10]:
def deco(function):
    def secondary(*args,**kwargs):
        function(*args,**kwargs)
        print("Upper")
        print("lowerd")
        return function(*args,**kwargs)
    return secondary
@deco
def main_func(x,y,z):
    return x+y,z

# run function
main_func(2,4,55)

Upper
lowerd

(6, 55)

# *args and **kwargs

In [11]:
def argskwargs(*args,**kwargs):
    print(type(args))
    print(type(kwargs))
    print(args)
    print(kwargs)
argskwargs(5,name="ashish",classe="cse",roll="21542")

<class 'tuple'>
<class 'dict'>
(5,)
{'name': 'ashish', 'classe': 'cse', 'roll': '21542'}

#### Sorting Example

In [ ]:
def selection_sort(arr):        
    for i in range(len(arr)):
        minimum = i
        for j in range(i + 1, len(arr)):
            if arr[j] < arr[minimum]:
                minimum = j

        arr[minimum], arr[i] = arr[i], arr[minimum]
            
    return arr
ar=[6,8,4,6,2,4,7,6,8,5,2,4,6,2,5]
selection_sort(ar)

[2, 2, 2, 4, 4, 4, 5, 5, 6, 6, 6, 6, 7, 8, 8]

# ____Dictionary format____

In [ ]:
dic={}
y=["hu","hi","biee","ehe","there","hi","hu","hi","biee","ehe","there","hi",]
for x in y:
    if  x not in dic.keys():
        dic[x]=1
    else:
        dic[x]+=1
dic

{'hu': 2, 'hi': 4, 'biee': 2, 'ehe': 2, 'there': 2}

In [12]:
#dic comph
{i:i**2 for i in range (0,9)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
a={'name': 'ashish', "roll no":32, "age":24}
a

{'name': 'ashish', 'roll no': 32, 'age': 24}

In [ ]:
a=dict(name="ashish", branch= "cse", roll=2514332)
a

{'name': 'ashish', 'branch': 'cse', 'roll': 2514332}

In [ ]:
user_info = {
    
    "name":"ashish",
    "rolllno":2524332,
    "branch":"cse",
    "college": "UIET",
    "movies":["hiixdbbd","dygfgcvoogcud","ccblbvcc"]    
             }
print(user_info)

{'name': 'ashish', 'rolllno': 2524332, 'branch': 'cse', 'college': 'UIET', 'movies': ['hiixdbbd', 'dygfgcvoogcud', 'ccblbvcc']}

# Accesss data of dictionary

In [ ]:
user_info = {
    "name":"ashish",
    "rolllno":2524332,
    "branch":"cse",
    "college": "UIET",
    "movies":["hiixdbbd","dygfgcvoogcud","ccblbvcc"]    
             }
print(user_info["movies"])

['hiixdbbd', 'dygfgcvoogcud', 'ccblbvcc']

Get method to access values of key

In [ ]:
user_info = {
    "name":"ashish",
    "rolllno":2524332,
    "branch":"cse",
    "college": "UIET",
    "movies":["hiixdbbd","dygfgcvoogcud","ccblbvcc"]    
             }
a=user_info.get("branch")
a

'cse'

# How to add data into dictionary :

In [ ]:
user_info2={}
user_info2["name"]="mohit"
user_info2["classes"]= "cse"
user_info2["Roll"]= 214524
user_info2

{'name': 'mohit', 'classes': 'cse', 'Roll': 214524}

# Add data to dict

In [ ]:
user_info2={}
user_info2["name"]="mohit"
user_info2["classes"]= "cse"
user_info2["Roll"]= 214524
user_info2["food"]="rajma chawal"
user_info2

{'name': 'mohit', 'classes': 'cse', 'Roll': 214524, 'food': 'rajma chawal'}

POP method in dictionary  (to delete )

In [ ]:
user_info2={}
user_info2["name"]="mohit"
user_info2["classes"]= "cse"
user_info2["Roll"]= 214524
d=user_info2.pop("Roll")
print(d)
user_info2

214524

{'name': 'mohit', 'classes': 'cse'}

UPDATE method

In [ ]:
user_info = {
    "name":"ashish",
    "rolllno":2524332,
    "branch":"cse",
    "college": "UIET",
    "movies":["hiixdbbd","dygfgcvoogcud","ccblbvcc"] }
user_info 
user_info2 = { "other":"ashish",
    "rollln":2524332,
    "branc":"cse",
    "colleg": "UIET",
    "movie":["hiixdbbd","dygfgcvoogcud","ccblbvcc"] }

user_info.update(user_info2)
user_info

{'name': 'ashish',
 'rolllno': 2524332,
 'branch': 'cse',
 'college': 'UIET',
 'movies': ['hiixdbbd', 'dygfgcvoogcud', 'ccblbvcc'],
 'other': 'ashish',
 'rollln': 2524332,
 'branc': 'cse',
 'colleg': 'UIET',
 'movie': ['hiixdbbd', 'dygfgcvoogcud', 'ccblbvcc']}

# Methods in dictionary

Clear method

In [ ]:
user_info = {
    "name":"ashish",
    "rolllno":2524332,
    "branch":"cse",
    "college": "UIET",
    "movies":["hiixdbbd","dygfgcvoogcud","ccblbvcc"] }
user_info.clear()
user_info

{}

Copy of dictionary

In [ ]:
user_info = {
    "name":"ashish",
    "rolllno":2524332,
    "branch":"cse",
    "college": "UIET",
    "movies":["hiixdbbd","dygfgcvoogcud","ccblbvcc"] }
user_info

{'name': 'ashish',
 'rolllno': 2524332,
 'branch': 'cse',
 'college': 'UIET',
 'movies': ['hiixdbbd', 'dygfgcvoogcud', 'ccblbvcc']}

In [ ]:
a=user_info.copy()
a

{'name': 'ashish',
 'rolllno': 2524332,
 'branch': 'cse',
 'college': 'UIET',
 'movies': ['hiixdbbd', 'dygfgcvoogcud', 'ccblbvcc']}

Code to find cubes in dictionary

In [ ]:
def cube(n):
    cubes={}
    for i in range (1, n+1):
        cubes[i]=i**3
    return cubes
cube(3)

{1: 1, 2: 8, 3: 27}

example

In [ ]:
def cout(n):
    count={}
    for char in n :
        count[char]=n.count(char)
    return count
cout("ashish")

{'a': 1, 's': 2, 'h': 2, 'i': 1}

____Dictionary from user input data and to store it in a empty dictionary____

In [ ]:
dictionary = {}
name= input(" enter your name ")
clas= input(" enter your class ")
roll= input(" enter your rollno ")
hobbies= input(" enter your hobbies with , ").split(",")
movies= input(" enter your movies with , ").split(",")
dictionary ["name"]=name
dictionary ["clas"]=clas
dictionary ["roll"]=roll
dictionary ["hobbies"]=hobbies
dictionary ["movies"]=movies
dictionary

 enter your name ashish
 enter your class cse
 enter your rollno 41034
 enter your hobbies with , sfsgsv,cvficvw
 enter your movies with , cvwfdiewv,xbviwcfc

{'name': 'ashish',
 'clas': 'cse',
 'roll': '41034',
 'hobbies': ['sfsgsv', 'cvficvw'],
 'movies': ['cvwfdiewv', 'xbviwcfc']}

#  SET's {}

In [ ]:
a={1,5,8,9,8,9,8,9,9,7,7,5,4,6,9,7,8,2,8,9,7}
a.add(2222)
a
a.remove (5)
a
a.discard(10) 
a
b=a.copy()
b

{1, 2, 4, 6, 7, 8, 9, 2222}

Remove duplicacy in set

In [ ]:
a={1,5,8,9,8,9,8,9,9,7,7,5,4,6,9,7,8,2,8,9,7}
b=set(a)
b

{1, 2, 4, 5, 6, 7, 8, 9}

UNION in set's

In [ ]:
a={1,5,8,9,8,9,8,9,9,7,7,5,4,6,9,7,8,2,8,9,7}
b={1,5,9,8,9,9,7,7,5,4,6,9,7,8,2,8,9,7}
c=a|b
c

{1, 2, 4, 5, 6, 7, 8, 9}

In [ ]:

a={1,5,8,9,8,9,8,9,9,7,7,5,4,6,9,7,8,2,8,9,7}
b={1,5,9,8,9,9,7,7,5,4,6,9,7,8,2,8,9,7}
d=( a & b )
d

{1, 2, 4, 5, 6, 7, 8, 9}

# pass statment :

In [ ]:
a=18
if a<= 18:
    pass

#  and operator to check two condition:

In [ ]:

a=str(input("enter name "))
n=int(input("enter age "))
age = 18 
name=( "ashish")
if a==name and n==age :
    print(" both true")
else:
    print (" error ")

enter name ashish
enter age 15
 error

# or statment

In [ ]:

a=str(input("enter name strting with a or A  "))
n=int(input("enter age less then 18 \t "))
age = 18 
name=("a" or "A")
if ( a[0]==name or a[0]==name ) and n <= age :
    print(" both true")
else:
    print (" error ")

enter name strting with a or A  a
enter age less then 18 	 14
 both true

# if and elif condition 
( in if it will check all the statments but in elif when it ges first true statment it runs that )

In [ ]:
a=int(input("enter no "))
if a<15: 
    print("less then 15...")
if a<=16 :
    print(" greater then 16....")
if a<=20:
    print("greater then 20...")

enter no 15
 greater then 16....
greater then 20...

In [ ]:
a=int(input("enter no "))
if a<15: 
    print("less then 15...")
elif a<=16 :
    print(" greater then 16....")
elif a<=20:
    print("greater then 20...")

enter no 14
less then 15...

#  in statment

In [ ]:
a= ("ashish")
z=input(" input ")
if z in a:
    print("present")
else:
    print ("not present ")

 input ashish
present

#  to check a list is empty or not

In [ ]:
a=input((" input or remain empty "))
if a:
    print(" sometning in it")
else:
    print("empty")

 input or remain empty
empty

#  looping concept (while loop)

how it works? 
1. where to start 
2. where to stop  or (condition)
3. what to do ?
4.  how to do ?

In [ ]:
i=1                                            # strting point ?
while i<=5:                                    #condition when we have to stop loop ?
    print(i, end=" ")                          #what to do ?
    i=i+1                                      # how to do ?

1 2 3 4 5

_____Example to sum 1 to 10_____

In [ ]:
data=0
a=1
while a<=10:
    print(data, end=" ")
    data=data+a
    a=a+1

0 1 3 6 10 15 21 28 36 45

_____example to sum from user input_____

In [ ]:
data=0
z=int(input( ))
a=1
while a <=z:
    print(data, end=" ")
    data=data+a
    a=a+1

44
0 1 3 6 10 15 21 28 36 45 55 66 78 91 105 120 136 153 171 190 210 231 253 276 300 325 351 378 406 435 465 496 528 561 595 630 666 703 741 780 820 861 903 946

_____example of adding sum of all numbers as string from user_____

tut (55)

In [ ]:
number= input(" ")
total=0
i=0
while i<len(number):
    total+=int(number[i])
    i+=1
print(total)

 1
1

_____Example_____

output should be 
    a:1 
    b:2
    c:3
    d:4
    e:5
    f:6

In [ ]:
name=input(" ")
temp_var= " "
i=0
while i< len (name):
    if name [i] not in temp_var:
        temp_var+=name[i]
        print(f"{name[i],name.count(name[i]) }")
        i+=1

 ashish
('a', 1)
('s', 2)
('h', 2)
('i', 1)

# infinite loop

In [ ]:
while True :
    print("hi", end="")

# Examples of for loop

In [ ]:
for i in range (5,10):
    print("hellow")

hellow
hellow
hellow
hellow
hellow

In [ ]:
total=0
for i in range (1,44):
    total+=i
print(total)

946

# Diffrent Types of ways to write programe through diffrent methods

____Break and continue statment_____

break statment

In [ ]:
for i in range (10,20):
    if i == 18:
        break 
    print(i, end=" ")

10 11 12 13 14 15 16 17

continue statment

In [ ]:
for i in range(10,20):
    if i ==18:
        continue
    print(i, end=" ")

10 11 12 13 14 15 16 17 19

In [ ]:
def funct (int1,int2):
    add=int1=int2
    multiply =int1*int2
    return add, multiply
add, multiply = funct (2,3)
print(add)
print(multiply)

3
9

# Exception Handling

In [ ]:
while True:
    try:
        age=int(input("enter age"))
        break
    except ValueError:
        print("value error")
    except:
        prnt("other")
if age<18:
    
    print("cant")
else:
    print("yes")

# Raise Error

In [ ]:
def add(a,b):
    if (type(a) is int) and (type(b) is int):
        return (a+b)
    raise TypeError ("please pass integers as a abd b")
a=add(2,2)
a

4

In [ ]:
def add(a,b):
    if (type(a) is int) and (type(b) is int):
        return (a+b)
    raise TypeError ("please pass integers as a abd b")
a=add(2,"i")
a

#  step Argument

In [ ]:
for i in range (10,20,2):
    print(i, end=" ")

10 12 14 16 18

In [ ]:
for i in range (10,1,-2):
    print(i, end=" ")

10 8 6 4 2

In [ ]:
for i in range (1,-10,-2):
    print(i, end=" ")

1 -1 -3 -5 -7 -9

# Functions In Python

In [ ]:
def addit(a,b):
        return a+b
x=addit(2,4)
x

6

 _____subscriptable error  : means that you have to pass string and you are passig integer value____

#  function without using else statmet

In [ ]:
def adding (int):
    if int%2==0:
        return True
    return False
adding(4)

True

In [ ]:
def greater (a,b):
    if a<b:
        return a
    return b
greater (2,3)

2

In [ ]:
def greater (a,b):
    if a<b:
        return a
    return b

def greatest (a,b,c):
    if a>b and a>c :
        return a 
    elif b<a and b<c :
        return b 
    else :
        return c 

def new_greatest (a,b,c):
        bigger =greater (a,b)
        return greater (bigger,c)
new_greatest(3,2,5)

2

#  to reverse a string

In [ ]:

a=("ashish")
print(a[: : -1 ])

hsihsa

# Default parameters

none unknown and others

None : this is used as default parameter for integer value, when we dont want to pass anything in it just want to leave empty

In [ ]:
def ashish ( age= None, name = "Unknown"):
    print(age,name)
ashish()

None Unknown

In [ ]:
def ashish ( name="rajat",age= None, secondname = "ashish"):
    print(name,age,secondname)
ashish("ayush","param")

ayush param ashish

# Scope of functions

#  How to change values of list

In [ ]:
list=["ashish",22,55,85.52,"rajat"]
list[2]=88
print(list)

['ashish', 22, 88, 85.52, 'rajat']

#  Add data to list

Append function will add the data only in last of list

In [ ]:
list=["ashish",22,55,85.52,"rajat"]
list.append("manish")
print(list)

['ashish', 22, 55, 85.52, 'rajat', 'manish']

Add elements in blank list (append)

In [ ]:
a= []
a.append("ashish")
a.append("ashish")
a.append("ashish")
a.append("ashish")
a

['ashish', 'ashish', 'ashish', 'ashish']

how to insetr element is any position of list (insert )

In [ ]:
a=["ashish","rajat","himanshu"]
a.insert(1,"Manish")
a

['ashish', 'Manish', 'rajat', 'himanshu']

To add two strings (+)

In [ ]:
a=["ashish","rajat","himanshu"]
b=["ash","rat","hima"]
c=a+b
c

['ashish', 'rajat', 'himanshu', 'ash', 'rat', 'hima']

To add a list into a list we use (append)

In [ ]:
a=["ashish","rajat","himanshu"]
b=["ash","rat","hima"]
a.append(b)
a

['ashish', 'rajat', 'himanshu', ['ash', 'rat', 'hima']]

how to use ( extend )

In [ ]:
a=["ashish","rajat","himanshu"]
b=["ash","rat","hima"]
a.extend(b)
a

['ashish', 'rajat', 'himanshu', 'ash', 'rat', 'hima']

# To delete Data from list

pop function to delete some element from list , it will delete element from last by default and also from given index ( POP )

In [ ]:
a=["ashish","rajat","himanshu","ash","rat","hima"]
a.pop(2)
a

['ashish', 'rajat', 'ash', 'rat', 'hima']

To remove a specific element from list ( Remove)

In [ ]:
a=["ashish","rajat","himanshu","ash","rat","hima"]
a.remove("rajat")
a

['ashish', 'himanshu', 'ash', 'rat', 'hima']

____To add data we use ( append, extend , insert )     
to delete data we use ( pop , remove ) ____

_____to check whether an element is present in list or not we use ( in ) _____

In [ ]:
a=["ashish","rajat","himanshu"]
if "ashish" in a:
    print ("yes")
else:
    print("no ")

yes

#  More strings methods

     count
     sort
     reverse
     copy

In [ ]:
a=["ashish","rajat","himanshu"]
a.count("ashish")

1

In [ ]:
a=[55,85,77,1,5,6,8,55]
a.sort()
a

[1, 5, 6, 8, 55, 55, 77, 85]

In [ ]:
a=[55,85,77,1,5,6,8,5]
a.reverse()
a

[5, 8, 6, 5, 1, 77, 85, 55]

In [ ]:
a=[55,85,77,1,5,6,8,55]
a.clear()
a

[]

# sorted fnction

In [14]:
a=[55,85,77,1,5,6,8,55]
data=a.sort() # it will do sorting the orignal list
print(data)


a=[55,85,77,1,5,6,8,55]
data=sorted(a) # it will Not do sorting the orignal list
print(data)

None
[1, 5, 6, 8, 55, 55, 77, 85]

slicing

In [ ]:

A=("fbfobdbd")
print(A[3]) 
print(A[-2]) # it print s of ashish 
print(A[2,-2]) #from 2 to -2 index
print(A[2:]) # it print from 2nd index to n
print(A[: 2]) #.. from strting to 2nd  index


String Method ( )
 a="ashish" 
len ("ashish")  : ans= 6
b=len(a) : ans = 6  
print(a.lower()) := print all letters in lowercase
print(a.upper()) ;= print all letter in uppercase
print(a.title())   : first letter capital and other in lower case
Print(a.count(“h”)) : it counts that how many times h occurs in ashish

In [ ]:
Remove Spaces In string ( )
A= ”                   ashish            ”
To remove lefr space we have                               print (a.lstrip ())
Tpo remove right we have                                      print (a.rstrip())
To remove space from both sides we have            print (a strip())

In [ ]:

Replace ( )
a= ("hey how r uh .. r uh in college?")
print(a.replace ("r","are"))
result = hey how are uh. are uh in college?

In [ ]:
h=("hellow,how r uh . where r u going . what r uh doing . what r your hobbies")
>>> print(h.replace("r","are"))
hellow,how are uh . whearee are u going . what are uh doing . what are youare hobbies
>>> print(h.replace("r","are",3))
hellow,how are uh . whearee are u going . what r uh doing . what r your hobbies

print(h.find("r"))
11

In [ ]:

Print *************

a="ashish"
>>> print(a.center(22,"*"))
********ashish********
a=input(str("hi"))
print(a.center(22,"*"))
print(a.center(len(a) +44 ,"*"))

# split method (split)

split method (split)

In [ ]:
a="gdwvbkcdbbcec c&bicvebcbieccboebccbc=end"
b=a.split("&")
b

['gdwvbkcdbbcec c', 'bicvebcbieccboebccbc=end']

Join method

In [ ]:
a=["ashish", "24"]
print(",".join(a))

ashish,24

strings are immutable but lists are mutable     ,
we have to make new string to change in string but in list the function will change the orignal list
ex     
 it wil capatilize the first letter of string

In [ ]:
a="ashishkumar"
b=a.title()
b

'Ashishkumar'

#  _____To access List in List_____

In [ ]:
a= [[12,33,55],[41,84,99,78],[75,84,45,52,99,74]]
for i in a:
    for j in i:
        print(j)

12
33
55
41
84
99
78
75
84
45
52
99
74

In [ ]:
a= [[12,33,55],[41,84,99,78],[75,84,45,52,99,74]]
for i in a:
    for j in i:
        print(i)

[12, 33, 55]
[12, 33, 55]
[12, 33, 55]
[41, 84, 99, 78]
[41, 84, 99, 78]
[41, 84, 99, 78]
[41, 84, 99, 78]
[75, 84, 45, 52, 99, 74]
[75, 84, 45, 52, 99, 74]
[75, 84, 45, 52, 99, 74]
[75, 84, 45, 52, 99, 74]
[75, 84, 45, 52, 99, 74]
[75, 84, 45, 52, 99, 74]

In [ ]:
a= [[12,33,[75,84,45,52,99,74]],[41,84,99,78],[75,84,45,52,99,74]]
print(a[0][2])

[75, 84, 45, 52, 99, 74]

example:

In [ ]:
def mylist ( ):
    a=[range(10,20)]
    print(a[: : -1])
    
mylist()

[range(10, 20)]

method 2:

In [ ]:
def hey():
    a=[range(10,20)]
    a.reverse()
    return a
hey()

[range(10, 20)]

ex:

In [ ]:
def example(ex):
    elements=[]
    for i in ex:
        elements.append(i[: : -1])
    return elements
ex=["ashish","rajat","naveen"]
example(ex)

['hsihsa', 'tajar', 'neevan']

Example to filter odd and even numbers in list and then to manage them in difrent-diffrent list.....

In [ ]:
def filter_odd_even(nums):
    odd=[]
    even=[]
    for i in nums:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    output=[odd,even]
    return output
nums=[1,5,8,8,7,9,6,7,5,2,2,0,6,3]
print(filter_odd_even(nums))

[[1, 5, 7, 9, 7, 5, 3], [8, 8, 6, 2, 2, 0, 6]]

Example: pass two list and collect same numbers from both list and make a new list and store them :.....

In [ ]:
def common_finder(list1,list2):
    output=[]
    for i in list1:
        for i in list2:
            output.append(i)
        return output
common_finder([1,7,5],[1,7,2])

[1, 7, 2]

# Minmum and Maximum function :- ................ ( MIN, MAX )

In [ ]:

aa=[range(10,30)]
cc=min(aa)
dd=max(aa)
cc,dd

(range(10, 30), range(10, 30))

sorting acc to min and max function

In [ ]:
guitars=[ {"model": "indian ", "price":5000},
         {"model": "chinese ", "price":1100},
         {"model": "german ", "price":45000},
         {"model": "korean ", "price":7000},
         {"model": "american", "price":800000} ]
a=(sorted(guitars,key=lambda d:d["price"], reverse = False ))
b=(sorted(guitars,key=lambda d:d["price"], reverse = True ))
a, b

([{'model': 'chinese ', 'price': 1100},
  {'model': 'indian ', 'price': 5000},
  {'model': 'korean ', 'price': 7000},
  {'model': 'german ', 'price': 45000},
  {'model': 'american', 'price': 800000}],
 [{'model': 'american', 'price': 800000},
  {'model': 'german ', 'price': 45000},
  {'model': 'korean ', 'price': 7000},
  {'model': 'indian ', 'price': 5000},
  {'model': 'chinese ', 'price': 1100}])

# TUPPLES

Tupples are immutabe, we use tupple when we dont want to change our value:

In [ ]:
a=(4,5,2,5)
type(a)

tuple

# Map Function

In [ ]:
a=[1,2,3,5,8]
def ashish(a):
    return a**2
z=list(map(ashish,a))
z

[1, 4, 9, 25, 64]

# Zip Function

In [ ]:
a=["ashish","rajat","naveen"]
b=["cse", "ece", "mech"]
c=list(zip(a,b))
c

[('ashish', 'cse'), ('rajat', 'ece'), ('naveen', 'mech')]

In [ ]:
a=[('ashish', 'cse'), ('rajat', 'ece'), ('naveen', 'mech')]
b,c=list(zip(*a))
b,c

(('ashish', 'rajat', 'naveen'), ('cse', 'ece', 'mech'))

# To find Help and doc function

In [ ]:
def ashish(a):
    return a*2
ashish(a.__doc__)

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [ ]:
print=help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# Pass Function as argument

In [ ]:
def square (a):
    return a**2

l=[1,5,5,6,3]

def my_map(func, l):
    new_list=[]
    for item in l:
        new_list.append(func(item))
    return new_list

z=my_map(square,l)
z

[1, 25, 25, 36, 9]

# Function returning function

def outer_func():
    def inner_func():
        print("inside inner func")
    return inner_func
def outer_func2(msg):
    def inner_func2():
        print(" message is hiii")
    return inner_func2
var=outer_func2("hii m ashish")
var()

                                                                UNIX
UNIX COMMANDS 
1.	PWD – public work directory (shows the current directory where we r)
2.	Cd – change directory (to change directory) 
3.	Cd  .. – to come back (back command)
4.	Cd “folder name” – to enter in any folder
5.	Ls – list command, (it shows all the object in that directory or folder)
6.	mkdir - make directory (to make folders)
7.	Touch - to make files (ashish.txt ashish.py or other)
8.	Rm “filename.txt” – to remove file or delete
9.	Rm -rf “folder name” - remove folder (to remove folder)
10.	Clear – to clear screen
11.	Code “filename.py” – to open file in >>> (we can directly use this code to create and open file in >>>)
12.	mv first file name.py   rename.py – to rename files
13.	cp file.py ./newfolder/ - to copy file

# PATTERN Making

In [ ]:
for row in range (7):
    for col in range (5 ):
        if (col==0 or col == 4) or (( row==0 or row ==3) and (col >0 and col<4)):
            print("*",end=" ") 
        else:
            print(end="  ")
    print()

* * * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [ ]:
for row in range ( 7):
    for col in range (5 ):
        if                        (col ==0) or (col==4 and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print( "*",end=" ")
        else:
            print(end="  ")
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [ ]:
for row in range (7):
    for column in range (5 ):
        if                      (column == 1 or ((row == 0 or row == 3) and column > 0 and column < 5)
            
            or
            
                                 ((column == 5 or column == 1) and (row == 1 or row == 2))):
            print( "*",end=" ")
        else:
            print(end="  ")
    print()

  * * * *
  *
  *
  * * * *
  *
  *
  *

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((row == 0 or row == 3 or row == 6) and column > 1 and column < 5) or (column == 1 and (row == 1 or row == 2 or row == 6)) or (column == 5 and (row == 0 or row == 4 or row == 5))):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ****
 *
 *
  ***
     *
     *
 ****

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or column == 5 or (row == 2 and (column == 2 or column == 4)) or (row == 3 and column == 3)):  
            result_str=result_str+"* "    
        else:      
            result_str=result_str+"  "    
    result_str=result_str+"\n"    
print(result_str);

  *       *
  *       *
  * *   * *
  *   *   *
  *       *
  *       *
  *       *

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 3) and column > 0 and column < 5) or ((column == 5 or column == 1) and (row == 1 or row == 2))):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 ****
 *
 *
 *

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 3) and column > 1 and column < 5) or (column == 5 and row != 0 and row < 3) or (column == row - 1 and row > 2)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 ****
 * *
 *  *
 *   *

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 6) or (row == 6 and column > 1 and column < 5)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 *   *
 *   *
 *   *
 *   *
 *   *
 *   *
  ***

In [ ]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((row == 0 or row == 6) and column >= 0 and column <= 6) or row+column==6):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

*******
     *
    *
   *
  *
 *
*******

#                 PYTHON ( OOPS )

...

In [ ]:
class Person:
    def __init__(self,first_name,last_name,age):
        self.first_name = first_name
        self.last_name=last_name
        self.age= age

one=Person("ashsih","kumar",24)
two=Person("paramjeet","singh",23)
print(one.first_name)
print(two.first_name)

ashsih
paramjeet

In [ ]:
class Car:
    def __init__ (self, model_name, price,brand ):
        self.model_name=model_name
        self.price=price
        self.brand= brand
        self.overall= (self.model_name,self.price,self.brand)
        
car1= Car("city",1000000,"honda")
print(car1.overall)

('city', 1000000, 'honda')

In [ ]:
class Car:
    def __init__ (self, model_name, price,brand ):
        self.model_name=model_name
        self.price=price
        self.brand= brand
        self.overall= (self.model_name,self.price,self.brand)
        
car1= Car("city",1000000,"honda")
print(car1.overall)

('city', 1000000, 'honda')

# inheritance

use super keywoard ( super().init)

In [ ]:
class Car:
    def __init__ (self, model_name, price,brand ):
        self.model_name=model_name
        self.price=price
        self.brand= brand
        self.overall= (self.model_name,self.price,self.brand)
    
class Big_car(Car):
    def __init__ (self,model_name,price,brand,colour,height,weight,engine):
        super().__init__ (model_name, price,brand )
        self.colour=colour
        self.height=height
        self.weight=weight
        self.engine=engine
        self.fullspec=(model_name,price,brand,colour,height,weight,engine)
car1= Big_car("city",1000000,"honda","white",1500,"5 meter","100cc")
car1.fullspec

('city', 1000000, 'honda', 'white', 1500, '5 meter', '100cc')

In [ ]:
class Laptop:
    def __init__(self, processor,model,colour,year):
        self.processor=processor
        self.model=model
        self.colour=colour
        self.year=year
first=Laptop("pentum","khz","white",2009)
print(first.processor)

pentum

In [ ]:
class Person:
    def __init__(self,first_name,last_name,age):
        self.first_name = first_name
        self.last_name=last_name
        self.age= age
    def full_name(self):
        return (self.first_name, self.last_name)
p1=Person("ashish","kumar",24)
print(p1.full_name())

('ashish', 'kumar')

In [ ]:
class Laptop:
    def __init__(self,brand,model,price):
        self.brand=brand
        self.model=model
        self.price=price
        self.laptop_name=brand +" " + model
    def apply_discount(self,num):
        off_price=(num/100)*self.price
        return (self.price - off_price)
    
laptop1=Laptop("hp","e series",50000)
print(laptop1.apply_discount(5))

47500.0

In [ ]:
class Laptop:
    discount_percentage=10
    def __init__(self,brand,model_name,price):
        self.brand=brand
        self.name=model_name
        self.price=price
        self.laptop_name=brand+ " "+ model_name
    def apply_discount(self):
        off_price =(Laptop.discount_percentage/100)*self.price
        return self.price -off_price
laptop1=Laptop("hp","bcbc",52545)
laptop2=Laptop("apple","mackbook", 222222)
print(laptop1.apply_discount())

47290.5

In [ ]:
class Laptop:
    discount_percent=10
    def __init__(self,brand,model_name,price):
        self.brand=brand
        self.name=model_name
        self.price=price
        self.laptop_name=brand+ " "+ model_name
    def apply_discount(self):
        off_price =(Laptop.discount_percent/100)*self.price
        return self.price -off_price
    
laptop1=Laptop("hp","bcbc",63000)
laptop2=Laptop("apple","mackbook", 23000)
laptop2.discount_percent=50 
print(laptop2.__dict__)
print(laptop2.apply_discount())

{'brand': 'apple', 'name': 'mackbook', 'price': 23000, 'laptop_name': 'apple mackbook', 'discount_percent': 50}
20700.0

In [ ]:
class Person:
    count_instance=1
    def __init__(self,first_name,last_name,age):
        self.first_name = first_name
        self.last_name=last_name
        self.age= age
        
p1=Person("ashish","kumar",24)
print(Person.count_instance)

1

In [ ]:
class Person:
    count_instance=0
    def __init__(self,first_name,last_name,age):
        Person.count_instance += 1
        self.first_name = first_name
        self.last_name=last_name
        self.age= age
       
    @classmethod
    def from_string(cls,string):
        first,last,age=string.split(",")
        return cls(first,last,age)
    @classmethod
    
    
    def count_instances(cls):
        print("you have created",cls.count_instance,"of", cls.__name__)
    def full_name(self):
        return self.first_name, self.last_name
    def is_above_18(self):
        return self.age>18
    
p1=Person("ashish","kumar",24)
p2=Person("rajat","bakshi",29)
p3=Person.from_string("ashish,kumar,24")
print(p3.full_name())

('ashish', 'kumar')

In [ ]:
class Person:
    count_instance=0
    def __init__(self,first_name,last_name,age):
        Person.count_instance += 1
        self.first_name = first_name
        self.last_name=last_name
        self.age= age
       
    @classmethod
    def from_string(cls,string):
        first,last,age=string.split(",")
        return cls(first,last,age)
    
    @staticmethod
    def hello():
        print("hellow this is static method")
    
    @classmethod
    
    
    def count_instances(cls):
        print("you have created",cls.count_instance,"of", cls.__name__)
    def full_name(self):
        return self.first_name, self.last_name
    def is_above_18(self):
        return self.age>18
    
p1=Person("ashish","kumar",24)
p2=Person("rajat","bakshi",29)
p3=Person.from_string("ashish,kumar,24")
print(p3.full_name())

Person.hello()

('ashish', 'kumar')
hellow this is static method